.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: white;
  height: 56px;
  line-height: 27px;
  background-color: #292929;
  border-radius: 40px;
  transition: all 1s;

  &:hover {
    color: #292929;
    background-color: #e5e5e5;
  }
  &:active {
    background: #111;
  }
}
